/*=============== SUB ===============*/
.sub{
    padding: 3.5rem 0 1rem;

    &__container{
        position: relative;
        row-gap: 1rem;
    }
    &__title{
        font-size: var(--h1-font-size);
        line-height: 120%;
        margin-bottom: var(--mb-1);
    }
    &__carrousel{
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 1.2rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }
}